.loading_center_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100svh;
}

.loading_center_absolute {
  height: 170px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
